/*
 * CSS STYLESHEET
 * Diese Datei ist das Haupt Stylesheet
 */

#html {
}

#container {
	width: 900px;
	margin: auto;
}

#header {
	width: 900px;
	height: 190px;
	background: #CECEFF url(/img/header.png);
}

#header td.theme-green {
	background:#008800;
	width:50px;
	height:20px;
	border:2px solid #000000;
}

#header td.theme-blue {
	background:#000088;
	width:50px;
	height:20px;
	border:2px solid #000000;
}

#header a {
	display:block;
	width:100%;
	height:100%;
}


#login {
	width: 900px;
	height: 30px;
	background: transparent url(/img/login-head.jpg);
	border-bottom: 2px solid #000088;
}

#login1 {
	float:left;
	width: 450px;
	height: 30px;
	background-color: transparent;
}

#login2 {
	float:left;
	width: 450px;
	height: 30px;
	background-color: transparent;
}


#login a {
	font-weight:bold;
	background:transparent;
	color:#000088;
	padding:9px 25px 10px 25px;
}


#login a:hover {
	font-weight:bold;
	background:#CCDDFF;
	padding:10px 25px 10px 25px;
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}

	
#navi {
	float: left;
	width: 200px;
	height: 1000px;
	background-color: #CECEFF;
	border-right: 1px solid #000088;
}

#navi ul {
	list-style:none outside none;
	padding-left:0px;
}

#navi h3 {
	width:145px;
	background:url(/img/elephant.png);
	font-size:20px;
	padding-left:15px;
	margin-bottom:0px;
	padding-top:8px;
	
	
}



#navi a {
	display:block;
	width:185px;
	color:#000088;
	background:#CECEFF;
	text-decoration:none;
	padding:4px 0 0 15px;
	font-weight:bold;
}

#navi a:hover {
	color:#4444CC;
	background-color:#F5FED8;	
}

#content {
	float:left;
	height:960px;
	width:658px;
	background:#FFFFFF;
	padding:20px;
}

#footer {
	clear: both;
	background: #CECEFF url(/img/footer.png);
	height: 30px;
	width:900px;
	color:#FFFFFF;
	font-weight:bold;
	font-size:110%;
}

body {
	font-family:arial,helvetica,sans-serif;
	background:#CECEFF url(/img/bg.jpg) repeat-x;
	color:#000088;
}

h1 {
	text-align:center;
}

a {
	color:#000088;
	text-decoration:none;
	font-weight:bold;
}

a:hover {
	color:#6666AA;
	text-decoration:none;
}


h3 {
	font-weight:bold;
	font-size:16px;
}


#profile {
	width:670px;
	height:650px;
	border: 0px solid #202020;
}

#profile table {
	border:0px;
	width:670px;
	background:#DDEFDD;
	text-align:left;
}

#profile h3 {
	background:#CECEFF;
	width:665px;
	margin:0px;
	padding-left:5px;
}

#profile h1 {
	margin:0px;
}

#profile a {
	font-weight:bold;
	background-color:#CECEFF;
}

#messages a {
	font-weight:normal;
	background-color:#DDEFDD;
}

#normlinks a {
	background:#FFFFFF;
}



.tableleft {
    width:100px;
}
.tablecenter {
    width:350px;
}
.tableright{
    width:215px;
}


#tablelink a, img {
	text-decoration:none;
	border:0px;
	background:#DDEFDD;
}

.error  {
	background-color:#FFEBE8;
	border-color:#DD3C10;
	border-style:solid;
	border-width:1px;
	padding:10px;
}

.error a {
	font-weight:bold;
}
.error a:hover {
	color:red;
}

.success {
	background-color:#C2DBA5;
	border-color:#003900;
	border-style:solid;
	border-width:1px;
	padding:10px;
}

.succes a {
	font-weight:bold;
}
.succes a:hover {
	color:green;
}

.booking table {
	border:0px;
	width:670px;
	background:#DDEFDD;
	text-align:left;
}
.booking th {
	padding-left:3px;
	background:#CECEFF;
	font-weight:bold;
}

.booking span {
	display: block;
	border:1px solid #000088;
	padding:3px;
	font-weight:bold;
	text-align:center;
}

.booking span:hover {
	cursor:pointer;
	background:#dee8d4;
}


#amazon {
	display:block;
	width:670px;
	height:650px;
	border: 0px solid #202020;
}

#amazon img {
	height:80px;
}

#vote1 {
	font-weight:bold;
	text-align:center;
	height:20px;
	background-color:#FF0000;
}

#vote2 {
	font-weight:bold;
	text-align:center;
	height:20px;
	background-color:#00FF00;
}

#vote3 {
	font-weight:bold;
	text-align:center;
	height:20px;
	background-color:#0000FF;
}

#vote4 {
	font-weight:bold;
	text-align:center;
	height:20px;
	background-color:#884488;
}



#showmessage {
	width:670px;
	height:650px;
	border: 0px solid #202020;
}

#showmessage table {
	border:0px;
	width:400px;
	background:#DDEFDD;
	text-align:left;
}

#showmessage #date {
	font-size:80%;
}

#showmessage th {
	background:#CECEFF;
	width:50%;
}
#showmessage h3 {
	background:#CECEFF;
	width:395px;
	margin:0px;
	padding-left:5px;
}
#showmessage h1 {
	margin:0px;
}


#game a {
	font-weight:bold;
	width:200px;
	margin-left:70%;
}

#game h3 {
	background:#CECEFF;
	width:400px;
	margin:0 auto;
}

#game .answer {
	border:1px solid #000088;
	width:300px;
	padding:3px;
	cursor:pointer;
}

#game .answer:hover {
	background:#dee8d4;
}

#send_answer {
	border:1px solid #000088;
	padding:3px;
	cursor:pointer;
}

#send_answer:hover {
	background:#dee8d4;
}

#statistik {
	margin:0 auto;
	width:400px;
	background:#DDEFDD;
}

#questions {
	width:500px;
	background:#DDEFDD;
	padding:5px;
}

#questions th {
	width:200px;
}

#questions td {
	padding:5px;
}

#countdown {
	width:60px;
	height:55px;
}

#button {
	border:1px solid #000088;
	padding:3px;
	font-weight:bold;
	text-align:center;
}

#button:hover {
	color:#000088;
}

/*#button:hover {
	background:#dee8d4;
}*/

#link-label {
	font-size:90%;
	background:#D4D0C8;
	color:#000000;
	width:113px;
	border:1px solid #000088;
	padding: 2px 4px 2px 4px;
	margin-top:5px;
}

#main_page table {
	margin:0px auto;
}

#main_page th {
	background:#CECEFF;
	padding:2px;
	text-align:left;
}

#main_page td{
	background:#DDEFDD;
}

#td1 {
	width:400px;
}

#blank {
	padding-left:300px;
}

#blank a {
	font-weight:bold;
}

#privmessage {
	width:100% !important;
	background:none !important;
}