/*
 * CSS STYLESHEET
 * Diese Datei ist das Haupt Stylesheet
 */

#container {
	width: 900px;
	margin: auto;
}

#header {
	width: 900px;
	height: 150px;
	background: #3d301d url(/img/header.jpg);
}

#header td.theme-green {
	background:#008800;
	width:50px;
	height:20px;
	border:2px solid #000000;
}

#header td.theme-blue {
	background:#000088;
	width:50px;
	height:20px;
	border:2px solid #000000;
}

#header a {
	display:block;
	width:100%;
	height:100%;
}


#login {
	width: 900px;
	height: 30px;
	background-color: #FFFFFF;
	border-bottom: 2px solid #003900;
	padding-top:10px;
}

#login1 {
	float:left;
	width: 500px;
	height: 30px;
	background-color: #FFFFFF;
}

#login2 {
	float:left;
	width: 400px;
	height: 30px;
	background-color: #FFFFFF;
}


#login a {
	font-weight:bold;
	background:#FFFFFF;
	color:#003900;
	padding:9px 25px 10px 25px;
}


#login a:hover {
	font-weight:bold;
	color:#003900;
	background:#E4FDC7;
	padding:10px 25px 10px 25px;
}

	
#navi {
	float: left;
	width: 200px;
	height: 1000px;
	background-color: #C2DBA5;
	border-right: 1px solid #003900;
}

#navi ul {
	list-style:none outside none;
	padding-left:0px;
}

#navi h3 {
	width:140px;
	background:#F5FED8;
	font-size:20px;
	padding-left:20px;
	margin-bottom:0px;
}



#navi a {
	display:block;
	width:185px;
	color:#003900;
	background:#C2DBA5;
	text-decoration:none;
	padding:4px 0 0 15px;
	font-weight:bold;
}

#navi a:hover {
	color:#336C33;
	background-color:#F5FED8;	
}

#content {
	width: 655px;
	height: 760px;
	background:#FFFFFF;
	padding:15px;
    margin-left: 210px;
	margin-right:500px;
}

#footer {
	clear: both;
	background-color: #FFFFFF;
	height: 30px;
	width:900px;
	border-top:1px solid #003900;
}

body {
	font-family:arial,helvetica,sans-serif;
	background:#FFFFFF;
	color:#003900;
}

h1 {
	text-align:center;
}

a {
	color:#003900;
	text-decoration:none;
}

a:hover {
	color:#447C44;
	text-decoration:none;
}


h3 {
	font-weight:bold;
	font-size:16px;
}


#profile {
	width:670px;
	height:650px;
	border: 0px solid #202020;
}

#profile table {
	border:0px;
	width:670px;
	background:#eff9e5;
	text-align:left;
}

#profile h3 {
	background:#C2DBA5;
	width:665px;
	margin:0px;
	padding-left:5px;
}

#profile h1 {
	margin:0px;
}

#profile a {
	font-weight:bold;
	background-color:#C2DBA5;
}

#messages a {
	font-weight:normal;
	background-color:#eff9e5;
}

#normlinks a {
	background:#FFFFFF;
}



.tableleft {
    width:100px;
}
.tablecenter {
    width:350px;
}
.tableright{
    width:215px;
}


#tablelink a, img {
	text-decoration:none;
	border:0px;
	background:#eff9e5;
}

.error  {
	background-color:#FFEBE8;
	border-color:#DD3C10;
	border-style:solid;
	border-width:1px;
	padding:10px;
}

.error a {
	font-weight:bold;
}
.error a:hover {
	color:red;
}

.success {
	background-color:#C2DBA5;
	border-color:#003900;
	border-style:solid;
	border-width:1px;
	padding:10px;
}

.succes a {
	font-weight:bold;
}
.succes a:hover {
	color:green;
}

.booking table {
	border:0px;
	width:670px;
	background:#eff9e5;
	text-align:left;
}
.booking th {
	padding-left:3px;
	background:#C2DBA5;
	font-weight:bold;
}


#amazon {
	display:block;
	width:670px;
	height:650px;
	border: 0px solid #202020;
}

#amazon img {
	height:80px;
}

#vote1 {
	font-weight:bold;
	text-align:center;
	height:20px;
	background-color:#FF0000;
}

#vote2 {
	font-weight:bold;
	text-align:center;
	height:20px;
	background-color:#00FF00;
}

#vote3 {
	font-weight:bold;
	text-align:center;
	height:20px;
	background-color:#0000FF;
}

#vote4 {
	font-weight:bold;
	text-align:center;
	height:20px;
	background-color:#884488;
}



#showmessage {
	width:670px;
	height:650px;
	border: 0px solid #202020;
}

#showmessage table {
	border:0px;
	width:400px;
	background:#eff9e5;
	text-align:left;
}

#showmessage #date {
	font-size:80%;
}

#showmessage th {
	background:#C2DBA5;
}
#showmessage h3 {
	background:#C2DBA5;
	width:395px;
	margin:0px;
	padding-left:5px;
}
#showmessage h1 {
	margin:0px;
}


#game a {
	font-weight:bold;
	width:200px;
	margin-left:80%;
}

#game h3 {
	background:#C2DBA5;
	width:400px;
	margin:0 auto;
}

#game .answer {
	border:1px solid #003900;
	width:300px;
	padding:3px;
	cursor:pointer;
}

#game .answer:hover {
	background:#dee8d4;
}

#send_answer {
	border:1px solid #003900;
	padding:3px;
	cursor:pointer;
}

#send_answer:hover {
	background:#dee8d4;
}

#statistik {
	margin:0 auto;
	width:400px;
	background:#eff9e5;
}

#questions {
	width:500px;
	background:#eff9e5;
	padding:5px;
}

#questions th {
	width:200px;
}

#questions td {
	padding:5px;
}

#countdown {
	width:60px;
	height:55px;
}
